# Build Outputs
bin/
obj/
artifacts/

# IDEs
.idea/
.vscode/

# OS / temp files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~
*.user

# Database files
*.db

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# .NET temporary
project.lock.json
project.fragment.lock.json
